.container {
    width: 100vw;
    min-height: 100vh;
    background-color: #f2f2f2;
    text-align: center;
    display: inline-block;
}

.title {
    margin-top: 8vh;
}

.cardbox {
    margin: 10vh 2vw;
}
